.App {
  max-width: 900px;
  margin: 0 auto;
}

.inputTile {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid gray;
}

.inputWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.input {
  font-size: 2rem;
  width: 100%;
}

.tile {
  border: 1px solid gray;
  display: flex;
}

.completeButtonWrapper {
  width: 10%;
  padding: 20px 0 20px 20px;
}

.completeButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.completedButton {
  background: url('icon-check.svg') no-repeat center;
  background-color: green;
  background-size: 70% 70%;
}

.removeButton {
  font-size: 2rem;
  width: 40px;
  height: 40px;
}

.text {
  width: 85%;
  padding: 20px 0px;
  font-size: 2rem;
}

.completedText {
  text-decoration: line-through;
}

.removeButtonWrapper {
  width: 5%;
  padding: 20px 20px 20px 0;
}

.list {
  padding: 0;
}
